/* #region Common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* #endregion Common */

/* #region Utility */

.flex {
  display: flex;
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* #endregion Utility */

/* #region Debug */

.debug #app_header {
  background-color: #3161e0;
}

.debug #nav_bar {
  height: 40px;
  background-color: orange;
}

.debug #nav_bar > div:first-of-type {
  width: 150px;
  height: 100%;
  border: 1px dotted black;
  background-color: red;
}

.debug #menu {
  width: 600px; 
  height: 100%;
  border: 1px dotted black;
}

.debug #menu > * {
  width: 10%;
  height: 100%;
  border: 1px dotted black;
  background-color: green;
}

.debug #nav_bar > button {
  width: 80px;
  height: 100%;
  border: 1px dotted black;
  background-color: transparent;
  background-color: blue;
}

.debug #header_hero {
  background-color: orange;
}

.debug #header_hero > h1 {
  height: 70px;
  border: 1px dotted black;
  background-color: red;
}

.debug #header_hero > p {
  height: 100px;
  border: 1px dotted black;
  background-color: green;
}

.debug #header_hero > div {
  height: 70px;
}

.debug #header_hero > div > * {
  background-color: transparent;
  width: 350px;
  height: 100%;
  border: 1px dotted black;
  background-color: blue;
}

.debug #app_main > section > .container {
  height: 550px;
}

#app_main > section > .flex > .section_text {
  width: calc(100% / 3);
  height: 100%;
  background-color: red;
  border: 1px dotted black;
}

#app_main > section > .flex > .section_image {
  width: calc((100% / 3) * 2);
  height: 100%;
  background-color: green;
  border: 1px dotted black;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  padding: 30px 0;
}

#nav_bar {
  justify-content: space-between;
  align-items: center;
}

#menu {
  justify-content: space-between;
  align-items: center;
}

#header_hero {
  margin: 160px 0;
  text-align: center;
}

#header_hero > h1 {
  margin-bottom: 50px;
}

#header_hero > p {
  margin-bottom: 40px;
}

#header_hero > div {
  justify-content: center;
  align-items: center;
}

#download {
  margin-right: 20px;
}

#open_browser {
  margin-left: 20px;
}

/* #endregion Header */

/* #region Main */

#app_main > section {
  padding: 180px 0;
}

#meet,
#stay_connected {
  background-color: #f6f6f6;
}

#app_main > section > .flex {
  justify-content: space-between;
  align-items: flex-start;
}

/* #endregion Main */